/NTierArchitecture/ItEmperor.NTierArchitecture.Api/obj
/NTierArchitecture/ItEmperorNTierArchitecture.DalLayer/obj
/NTierArchitecture/ItEmperorNTierArchitecture.DalLayer/bin
/NTierArchitecture/ItEmperorNTierArchitecture.DomainLayer/obj
/NTierArchitecture/ItEmperorNTierArchitecture.DomainLayer/bin
/NTierArchitecture/ItEmperorNTierArchitecture.ReadModel/obj
/NTierArchitecture/ItEmperorNTierArchitecture.ReadModel/bin
